#sidebar{
    float: right;
    width: 300px;
    height: 100%;
    color:white;
    padding:10px;
    background-color: #123;

}
.sidebar_item{
    padding:2px;
    border: 1px solid #000 ;
    margin-top:-1px;
}
